<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">Polideportivo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" @bind="collapseNavMenu" />

<div class="nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="d-flex flex-column" style="height: 100%;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mis-reservas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mis Reservas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservar">
                <span class="oi oi-calendar" aria-hidden="true"></span> Reservar
            </NavLink>
        </div>

        <div class="mt-auto nav-item px-3">
            <NavLink class="nav-link" href="perfil">
                <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> Perfil
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
